* {
    box-sizing: border-box;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@import 'override.scss';

$breakpoint-mobile-landscape: 500px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 992px;
$breakpoint-desktop: 1200px;

$dark-grey: #333333;
$white: #FFFFFF;
$black: #000000;
$orange: #927734;
$dark-orange: #88612d;

body {
    padding: 0;
    margin: 0;

    // hiding scrollbar
    &::-webkit-scrollbar {display: none;}
    -ms-overflow-style: none;
    scrollbar-width: none;

}

// ------------ LAYOUT ------------

.page-wrapper {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 40;
    display: flex;
    flex-direction: column;
    align-items: center;

    &.overlay {
        display: none;
        z-index: 60;
    }
}

.page-container {
    // max-width: 1600px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    // padding-top: 2rem;
    // padding-bottom: 2rem;
    // padding-left: 1.25rem;
    // padding-right: 1.25rem;

    @media (min-width: $breakpoint-mobile-landscape) {
        // padding-left: 1.75rem;
        // padding-right: 1.75rem;
    }

    @media (min-width: $breakpoint-tablet) {
        // padding-left: 2.5rem;
        // padding-right: 2.5rem;
    }

}

.page-top-blk, .page-main-blk {
    padding-left: 1.25rem;
    padding-right: 1.25rem;

    @media (min-width: $breakpoint-mobile-landscape) {
        padding-left: 1.75rem;
        padding-right: 1.75rem;
    }

    @media (min-width: $breakpoint-tablet) {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }

    @media (min-width: $breakpoint-laptop) {
        padding-left: 6rem;
        padding-right: 6rem;
    }
}

.page-top-blk {
    display: flex;
    justify-content: space-between;
    // height: 20%;

    padding-top: 1rem;
    padding-bottom: 1rem;

}

.page-main-blk {
    display: flex;
    width: 100%;
    flex-grow: 1;
    flex-direction: column-reverse;
    justify-content: space-between;

    margin-top: 16vh;
    margin-bottom: 4rem;
    @media (min-width: $breakpoint-tablet) {
        flex-direction: row;
        justify-content: start;
    }
}

.page-main-sidebar-left {

    display: flex;
    align-items: center;
    padding-top: 0.5rem;

    @media (min-width: $breakpoint-mobile-landscape) {
        justify-content: flex-end;
    }

    @media (min-width: $breakpoint-tablet) {
        width: 7rem;
        padding-right: 3rem;
        flex-direction: column;
        justify-content: flex-start;
    }

    @media (min-width: $breakpoint-laptop) {
        width: 8rem;
        padding-right: 5rem;
    }

}

.page-content-wrapper {

    width: 100%;

    @media (min-width: $breakpoint-mobile-landscape) {
    }
    @media (min-width: $breakpoint-tablet) {
    }
    @media (min-width: 992px) {
    }
    @media (min-width: 1200px) {
    }
}

.page-content-container {
    
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;

    @media (min-width: $breakpoint-mobile-landscape) {
    }
    @media (min-width: $breakpoint-tablet) {
    }
    @media (min-width: 992px) {
    }
    @media (min-width: 1200px) {
    }
}

.page-bottom-blk {
    display: flex;
    @media (min-width: $breakpoint-tablet) {
        justify-content: flex-end;
    }
}

// ---------- TEXT -----------

h1 {
    font-size: 2.5rem;
    margin-top: 0;

    @media (min-width: $breakpoint-laptop) {
        font-size: 6.5rem;
        line-height: 0.87em;
    }
}

p, blockquote, figcaption {
    font-size: 2.25rem;
    line-height: 1.3em;
    margin-bottom: 0;

}

address {
    font-style: normal;
    font-family: 'Sarabun', sans-serif;
    text-transform: uppercase;
    

    @media (min-width: $breakpoint-laptop) {

    }
}

.caps-sans-serif {
    font-family: 'Sarabun', sans-serif;
    text-transform: uppercase;
}

.sans-serif-bold {
    font-weight: 700;
    font-size: inherit;
}

p, blockquote, figcaption, .serif-heading {
    font-family: coranto-2-headline, serif;
    margin: 0;
}

.serif-alt {
    font-family: le-monde-livre-std, serif;
    font-weight: 500;
}

// ---------- SCROLLER -----------

.page-scroll-wrapper {
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
}

.page-scroller {
    width: 100%;
    height: 2000px;
}

// ---------- HEADER ----------

#poem-header {
    // background-color: $dark-grey;
    border-bottom-width: 1px;
    border-bottom-color: $white;
    border-bottom-style: solid;
    opacity: 1;
    transition: opacity 0.3s;

    .header-text-left, .header-info-button {
    }

    &.hide {
        opacity: 0;
    }
}

.header-text-left {
    font-size: 0.875rem;
}

.header-info-button {
}

// ---------- NAV ----------

#navigation {

    opacity: 1;
    transition: opacity 0.3s;

    &.hide {
        opacity: 0;

    }
}

.stanza-nav-heading {

    @media (min-width: $breakpoint-tablet) {
        margin-bottom: 1rem;
        margin-right: 0;
    }

}

.stanza-nav-container {

    display: flex;
    flex-direction: column;

    @media (min-width: $breakpoint-tablet) {
        flex-direction: row;
    }
}

.stanza-status-container {

    height: 0.25rem;
    width: 100%;

    @media (min-width: $breakpoint-tablet) {
        height: 100%;
        width: 0.25rem;
    }
}

.status-line {
    width: 100%;

}

.stanza-nav {

    display: flex;
    flex-grow: 1;

    @media (min-width: $breakpoint-tablet) {
        flex-direction: column;
    }
}

.stanza-nav-button {
    font-family: 'Sarabun', sans-serif;
    font-weight: 300;
    font-size: 1.75rem;
    line-height: 1.1em;
    padding-top: 0;
    padding-bottom: 0;
    transition: opacity 0.5s;

    &.active {opacity: 1; cursor: not-allowed; pointer-events: none;}    
    &.inactive {
        opacity: 0.4;
        cursor: pointer;
        &:hover {opacity: 0.7;}
    }
    &.disabled {pointer-events: none; cursor: not-allowed; opacity: 0.2;}
}

// ---------- POEM ----------

.poem-block {
    height: 0;
    visibility: hidden;
    position: relative;

    &.ready {
        height: auto;
        visibility: visible;
    }
}

.poem-sub-block {
    margin-bottom: 1.5rem;
}

.poem-line {
}

.square-icon {
    width: 1.2rem;
    height: 1.2rem;
    background-color: $black;
    margin-top: 0.2rem;
    margin-right: 0.5rem;
}

.poem-highlight {

}

.poem-img {
    position: absolute;
    mix-blend-mode: hard-light;
}

#instruction-blk {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.instruction-scroll-down {
    display: flex;
    opacity: 0;
    transition: opacity 0.3s;

    &.active {opacity: 1;}
}

.scroll-down-text {
    font-size: 1.5rem;
    margin-right: 1.2rem;
    opacity: 1;
    transition: opacity 1s ease-in-out;

    &.animate {
        opacity: 0.85;
    }

    &.back-to-top {
        cursor: pointer;
    }
}

#img-down-arrow {
    height: 2rem;
    opacity: 1;
    transform: translateY(-10%);
    transition: transform 1.0s ease-in-out, opacity 1.0s ease-in-out;

    &.animate {
        transform: translateY(10%);
        opacity: 0.7;
    }
}

// ----------- PARTS OF POEM -----------

#poem-page-wrapper {
    background-color: $orange;
    color: $white;
}

#pm-blk-0 {

    #pm-sub-title {
        position: relative;
        z-index: 20;
    }

    #pm-sub-poet {
        display: flex;
        align-items: center;
        opacity: 0;
    }

    .title-line {
        transform: translateY(50%);
        opacity: 0;
    }

    .poem-author-text {
        font-size: 1.5rem;
    }

    #img-down-arrow {
        height: 1.6rem;
    }
    
    #img-bush-coin {
        top: 7.5rem;
        left: 11rem;
        width: 8rem;
        opacity: 0;
    }
    
    #img-oxford {   
        width: 26rem;
        top: 7rem;
        left: 12rem;
        opacity: 0;
    }

    &.animate-in {

        .title-line {
            transition: opacity 0.5s, transform 0.5s;
            &:nth-of-type(2) {transition-delay:0.1s};
            &:nth-of-type(3) {transition-delay:0.2s};
            transform: translateY(0);
            opacity: 1;
        }
        #pm-sub-poet {
            transition: opacity 0.3s 0.8s;
            opacity: 1;
        }
        #img-bush-coin {
            transition: opacity 0.3s 1.0s;
            opacity: 1;
        }
        #img-oxford {
            transition: opacity 0.3s 1.2s;
            opacity: 1;
        }
    }

    &.animate-out {

        .title-line {
            &:nth-of-type(1) {transition-delay: 0.5s;}
            &:nth-of-type(2) {transition-delay: 0.4s;}
            &:nth-of-type(3) {transition-delay: 0.3s;}
            opacity: 0;
        }
        #pm-sub-poet {
            transition: opacity 0.3s;
            opacity: 0;
        }
        #img-bush-coin {
            transition: opacity 0.3s;
            opacity: 0;
        }
        #img-oxford {
            transition: opacity 0.3s;
            opacity: 0;
        }
    }
}

#pm-blk-1 {
    #pm-ln-1-0-0, #pm-ln-1-0-1 {opacity: 0;}

    &.animate-in {
        #pm-ln-1-0-0 {
            transition: opacity 4.0s ease-in 0.5s;
            opacity: 1;
        }
        #pm-ln-1-0-1 {
            transition: opacity 2.5s 5.0s;
            opacity: 1;
        }
    }

    &.animate-out {
        #pm-ln-1-0-0 {
            transition: opacity 1.0s;
            opacity: 0;
        }
        #pm-ln-1-0-1 {
            transition: opacity 1.0s;
            opacity: 0;
        }
    }
}

#pm-blk-2 {

    .pm-str-2-0-0, .pm-str-2-0-1, .pm-str-2-1-0, #pm-str-2-1-0-0, #pm-str-2-1-0-1, .pm-str-2-1-1
    {opacity: 0;}

    .pm-str-2-0-0:nth-of-type(2) {
        position: relative;
        left: 0.5em;
    }
    
    .custom-js-2-1-0 {
        opacity: 0;
        &.animate-in {opacity: 1; transition: none;}
    }
    
    &.animate-in {

        p {opacity: 1;}

        .pm-str-2-0-0, .pm-str-2-0-1, .pm-str-2-1-0, #pm-str-2-1-0-0, #pm-str-2-1-0-1, .pm-str-2-1-1
        {opacity: 1; transition: opacity 1s;}

        .pm-str-2-0-0 {
            &:nth-of-type(1) {transition-delay: 0.5s;}
            &:nth-of-type(2) {transition: opacity 1s 1.6s, left 0.5s ease-out 1.6s; transition-delay: 1.6s; left: 0;}
        }

        .pm-str-2-0-1 {
            &:nth-of-type(1) {transition-delay: 1.6s;}
            &:nth-of-type(2) {transition-delay: 2.7s;}
        }

        #pm-str-2-1-0-0 {transition-delay: 4.5s;}
        #pm-str-2-1-0-1 {transition-delay: 7.8s;}
        .pm-str-2-1-1 {transition-delay: 9.0s;}

    }

    &.animate-out {
        .pm-str-2-0-0, .pm-str-2-0-1, .pm-str-2-1-0, #pm-str-2-1-0-0, #pm-str-2-1-0-1, .pm-str-2-1-1, .custom-js-2-1-0
        {transition: opacity 1s; opacity: 0;}

        .pm-str-2-0-0 {
            &:nth-of-type(1) {transition-delay: 0.6s;}
            &:nth-of-type(2) {transition-delay: 0.6s;}
        }

        .pm-str-2-0-1 {
            &:nth-of-type(1) {transition-delay: 0.4s;}
            &:nth-of-type(2) {transition-delay: 0.4s;}
        }

        #pm-str-2-1-0-0 {transition-delay: 0.2s;}
        .custom-js-2-1-0 {transition-delay: 0.2s;}
        #pm-str-2-1-0-1 {transition-delay: 0.2s;}
        .pm-str-2-1-1 {transition-delay: 0s;}

    } 

}

#pm-blk-3 {
    .pm-str-3-0-0, .pm-str-3-0-1, .pm-str-3-1-0, .pm-str-3-1-1 {opacity: 0;}

    #custom-js-3-0-0, #custom-js-3-0-1 {
        span {
            opacity: 0;
            &.animate-in {
                transition: opacity 0.5s;
                opacity: 1;
            }
        }
    }

    &.animate-in {
        .pm-str-3-0-0, .pm-str-3-0-1, .pm-str-3-1-0, .pm-str-3-1-1 {transition: opacity 1s; opacity: 1;}

        .pm-str-3-0-0 {transition-delay: 0.5s;}
        .pm-str-3-0-1 {transition-delay: 1.9s;}
        .pm-str-3-1-0 {
            &:nth-of-type(1) {transition-delay: 3.6s;}
            &:nth-of-type(2) {transition-duration: 0s; transition-delay: 4.5s;}
            &:nth-of-type(3) {transition-duration: 0s; transition-delay: 4.85s;}
            &:nth-of-type(4) {transition-delay: 5.2s;}
        }
        .pm-str-3-1-1:nth-of-type(1) {transition-delay: 6.8s};
        .pm-str-3-1-1:nth-of-type(2) {transition-delay: 8.2s};
        
    }

    &.animate-out {
        .pm-str-3-0-0, .pm-str-3-0-1, .pm-str-3-1-0, .pm-str-3-1-1 {opacity: 0;}

        #custom-js-3-0-0, #custom-js-3-0-1 {
            span {opacity: 0; transition: opacity 1.0s; transition-delay: 0.6s;}
        }  
        .pm-str-3-0-0 {transition-delay: 0.4s;}

        .pm-str-3-0-1 {transition-delay: 0.4s;}
        .pm-str-3-1-0 {
            &:nth-of-type(1) {transition-delay: 0s;}
            &:nth-of-type(2) {transition-duration: 1s; transition-delay: 0.2s;}
            &:nth-of-type(3) {transition-duration: 1s; transition-delay: 0.2s;}
            &:nth-of-type(4) {transition-delay: 0s;}
        }
        .pm-str-3-1-1:nth-of-type(1) {transition-delay: 0s};
        .pm-str-3-1-1:nth-of-type(2) {transition-delay: 0s};
    }
}

#pm-blk-4 {
    .pm-str-4-0-0, #custom-js-4-0-0, .pm-str-4-1-0, #pm-ln-4-1-1 {opacity: 0;}

    #custom-js-4-1-0 {opacity: 0; color: $black;}


    &.animate-in {
        .pm-str-4-0-0 {
            transition: opacity 1s;
            opacity: 1; 
            &:nth-of-type(1) {transition-delay: 0.5s;}
            &:nth-of-type(2) {transition-delay: 2s;}
        }
        
        .pm-str-4-1-0 {
            opacity: 1;
            transition: opacity 1s;
            &:nth-of-type(1) {
                transition-delay: 4.4s;
            }
            &:nth-of-type(3) {
                transition-delay: 6.5s;
            }
        }

        #pm-ln-4-1-1 {
            transition: opacity 1s 7.5s;
            opacity: 1;
        }

        #custom-js-4-1-0 {
            color: $white;
            opacity: 1;
            transition: color 1s 4.9s, opacity 0s 4.9s;
        }

    }

    &.animate-out {
        .pm-str-4-0-0 {
            opacity: 0; 
            &:nth-of-type(1) {transition-delay: 0.6s;}
            &:nth-of-type(2) {transition-delay: 0.6s;}
        }
        
        .pm-str-4-1-0 {
            opacity: 0;
            &:nth-of-type(1) {
                transition-delay: 0.2s;
            }
            &:nth-of-type(3) {
                transition-delay: 0.2s;
            }
        }

        #pm-ln-4-1-1 {
            transition-delay: 0s;
            opacity: 0;
        }

        #custom-js-4-1-0 {
            transition: opacity 1s 1.0s;
            transition-duration: 1s;
            opacity: 0;
        }
    }

    #custom-js-4-0-0 {
        opacity: 0;
        &.animate-in {opacity: 1;}
        &.animate-out {transition: opacity 1s 0.6s; opacity: 0;}
    }

    #pm-ln-4-0-1 {
        opacity: 0;
        &.animate-in {opacity: 1;}
        &.animate-out {transition: opacity 1s 0.4s; opacity: 0;}
    }
}

#pm-blk-5 {
    #pm-str-5-0-0-0, #pm-str-5-0-0-1, #pm-str-5-0-0-2, #pm-str-5-0-0-3, #pm-str-5-0-0-4, #pm-str-5-0-0-5, .pm-str-5-0-1, 
    #pm-str-5-1-0-0, #pm-str-5-1-0-1, #pm-str-5-1-0-2, #pm-str-5-1-0-4, .pm-str-5-1-1 {
        opacity: 0;
    }

    #pm-str-5-0-0-5 {position: relative; top: 0.5em;}

    .pm-str-5-0-1:nth-of-type(2) {display: inline-block; transform: rotate(-3deg) translateY(15%);}

    #pm-str-5-1-0-3 {display: inline-block; transform: translateX(-10%) scale(80%); opacity: 0;}

    &.animate-in {
        #pm-str-5-0-0-0, #pm-str-5-0-0-1, #pm-str-5-0-0-2, #pm-str-5-0-0-3, #pm-str-5-0-0-4, 
        #pm-str-5-1-0-0, #pm-str-5-1-0-1, #pm-str-5-1-0-2, #pm-str-5-1-0-4 {
            opacity: 1;
            transition: opacity 1s;
        }

        #pm-str-5-0-0-0, #pm-str-5-0-0-1, #pm-str-5-0-0-2 {transition-delay: 0.5s;}
        #pm-str-5-0-0-3, #pm-str-5-0-0-4 {transition-delay: 1.7s;}

        #pm-str-5-0-0-5 {opacity: 1; top: 0; transition: opacity 1s 2.2s, top 0.5s ease-out 2.2s;}

        .pm-str-5-0-1:nth-of-type(1) {opacity: 1; transition: opacity 1s; transition-delay: 3.4s;}
        .pm-str-5-0-1:nth-of-type(2) {opacity: 1; transform: rotate(0) translateY(0); transition: opacity 1s 3.8s, transform 0.2s ease-in-out 4.3s;}

        #pm-str-5-1-0-0, #pm-str-5-1-0-1, #pm-str-5-1-0-2 {transition-delay: 5.5s;}

        #pm-str-5-1-0-3 {transform: translate(0) scale(100%); opacity: 1; transition: opacity 1s 5.8s, transform 0.5s 5.8s;}

        #pm-str-5-1-0-4 {transition-delay: 6.3s;}

        .pm-str-5-1-1 {opacity: 1; transition: opacity 3s 7.7s;}    

    }

    &.animate-out {

        #pm-str-5-0-0-0, #pm-str-5-0-0-1, #pm-str-5-0-0-2, #pm-str-5-0-0-3, #pm-str-5-0-0-4, #pm-str-5-0-0-5, .pm-str-5-0-1,
        #pm-str-5-1-0-0, #pm-str-5-1-0-1, #pm-str-5-1-0-2, #pm-str-5-1-0-3, #pm-str-5-1-0-4, .pm-str-5-1-1 {
            opacity: 0;
            transition: opacity 0s;
        }

        #pm-str-5-0-0-1 {transition-delay: 0s;}
        #pm-str-5-1-0-3 {transition-delay: 0.3s;}
        #pm-str-5-0-0-4 {transition-delay: 0.6s;}
        .pm-str-5-0-1:nth-of-type(2) {opacity: 0; transition: opacity 0s 0.8s;}
        #pm-str-5-0-0-0 {transition-delay: 0.8s;}
        #pm-str-5-1-0-0 {transition-delay: 1.0s;}
        #pm-str-5-1-0-4 {transition-delay: 1.0s;}
        #pm-str-5-0-0-5 {transition-delay: 1.1s;}
        .pm-str-5-1-1:nth-of-type(1) {transition-delay: 1.1s;}
        .pm-str-5-0-1:nth-of-type(1) {opacity: 0; transition: opacity 0s; transition-delay: 1.2s;}
        #pm-str-5-1-0-1, #pm-str-5-1-0-2 {transition-delay: 1.2s;}
        #pm-str-5-0-0-2, #pm-str-5-0-0-3 {transition-delay: 1.6s;}
        .pm-str-5-1-1:nth-of-type(2), .pm-str-5-1-1:nth-of-type(3) {transition-duration: 1s; transition-delay: 3.0s;}
        







    }

}