* {
    box-sizing: border-box;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$breakpoint-mobile-landscape: 500px;
$breakpoint-tablet: 768px;

body {
    padding: 0;
    margin: 0;
}

// ------------ LAYOUT ------------

.page-wrapper {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 40;
    display: flex;
    flex-direction: column;
    align-items: center;

    &.overlay {
        display: none;
        z-index: 60;
    }
}

.page-container {
    // max-width: 1600px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;

    @media (min-width: $breakpoint-mobile-landscape) {
        padding-left: 1.75rem;
        padding-right: 1.75rem;
    }

    @media (min-width: $breakpoint-tablet) {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }

}

.page-top-blk {
    display: flex;
    justify-content: space-between;
    height: 20%;
}

.page-main-blk {
    display: flex;
    width: 100%;
    flex-grow: 1;
    flex-direction: column-reverse;
    justify-content: space-between;

    @media (min-width: $breakpoint-tablet) {
        flex-direction: row;
        justify-content: start;
    }
}

.page-main-sidebar-left {

    display: flex;
    align-items: center;

    @media (min-width: $breakpoint-mobile-landscape) {
        justify-content: flex-end;
    }

    @media (min-width: $breakpoint-tablet) {
        width: 6rem;
        padding-right: 3rem;
        flex-direction: column;
        justify-content: flex-start;
    }

    @media (min-width: 992px) {
    }

}

.page-content-wrapper {

    width: 100%;

    @media (min-width: $breakpoint-mobile-landscape) {
    }
    @media (min-width: $breakpoint-tablet) {
    }
    @media (min-width: 992px) {
    }
    @media (min-width: 1200px) {
    }
}

.page-content-container {
    
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (min-width: $breakpoint-mobile-landscape) {
    }
    @media (min-width: $breakpoint-tablet) {
    }
    @media (min-width: 992px) {
    }
    @media (min-width: 1200px) {
    }
}

.page-bottom-blk {
    display: flex;
    @media (min-width: $breakpoint-tablet) {
        justify-content: flex-end;
    }
}

// ---------- ELEMENTS ------------

button {
    height: fit-content;
}

h1 {
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 0.4em;
}

p {
    font-size: 1.5rem;
}

blockquote, figcaption {
    font-size: 1.5rem;
}

a {
    font-size: inherit;
}

address {
    font-style: normal;
}

blockquote {
    margin: 0;
}

figure {
    margin-left: 0;
    margin-right: 0;
}

// ---------- SCROLLER -----------

.page-scroll-wrapper {
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
}

.page-scroller {
    width: 100%;
    height: 2000px;
}

// ---------- NAV ----------

.stanza-nav-heading {

    margin-right: 1rem;

    @media (min-width: $breakpoint-tablet) {
        margin-bottom: 1rem;
        margin-right: 0;
    }

}

.stanza-nav-container {

    display: flex;
    flex-direction: column;

    @media (min-width: $breakpoint-tablet) {
        flex-direction: row;
    }
}

.stanza-status-container {

    height: 0.25rem;
    width: 100%;

    @media (min-width: $breakpoint-tablet) {
        height: 100%;
        width: 0.25rem;
    }
}

.status-line {
    width: 100%;

}

.stanza-nav {

    display: flex;
    flex-grow: 1;

    @media (min-width: $breakpoint-tablet) {
        flex-direction: column;
    }
}

.stanza-nav-button {
}

// ---------- POEM ----------

.poem-block {
    display: none;
    margin-bottom: 2rem;

    &.ready {
        display: block;
    }
}

.poem-sub-block {
    opacity: 0;
    transition: opacity 0.5s;

    &.active {
        opacity: 1;
    }
}

.poem-line {

}

.poem-author-text {
    font-size: 1.5rem;
}

.poem-highlight {

}

.instruction-scroll-down {

}
