* {
    box-sizing: border-box;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    padding: 0;
    margin: 0;
}

// ------------ LAYOUT ------------

.page-wrapper {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 40;
    display: flex;
    flex-direction: column;
    align-items: center;

    &.overlay {
        display: none;
        z-index: 60;
    }
}

.page-container {
    // max-width: 1600px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;

    @media (min-width: 768px) {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }

}

.page-top-blk {
    display: flex;
    justify-content: space-between;
    height: 20%;
}

.page-main-blk {
    display: flex;
    width: 100%;
    flex-grow: 1;
    flex-direction: column-reverse;
    justify-content: space-between;

    @media (min-width: 768px) {
        flex-direction: row;
        justify-content: start;
    }
}

.page-main-sidebar-left {

    display: flex;

    @media (min-width: 768px) {
        padding-right: 3rem;
        flex-direction: column;
    }

    @media (min-width: 992px) {
    }

}

.page-content-wrapper {

    @media (min-width: 568px) {
    }
    @media (min-width: 768px) {
    }
    @media (min-width: 992px) {
    }
    @media (min-width: 1200px) {
    }
}

.page-content-container {

    @media (min-width: 568px) {
    }
    @media (min-width: 768px) {
    }
    @media (min-width: 992px) {
    }
    @media (min-width: 1200px) {
    }
}

// ---------- ELEMENTS ------------

button {
    height: fit-content;
}

h1 {
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 0.4em;
}

p {
    font-size: 1.5rem;
}

blockquote, figcaption {
    font-size: 1.5rem;
}

a {
    font-size: inherit;
}

address {
    font-style: normal;
}

blockquote {
    margin: 0;
}

figure {
    margin-left: 0;
    margin-right: 0;
}

// ---------- SCROLLER -----------

.page-scroll-wrapper {
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
}

.page-scroller {
    width: 100%;
    height: 2000px;
}

// ---------- NAV ----------

.stanza-nav-heading {

    margin-right: 1rem;

    @media (min-width: 768px) {
        margin-bottom: 1rem;
        margin-right: 0;
    }

}

.stanza-nav-container {
    display: flex;

    @media (min-width: 768px) {
        flex-direction: column;
    }
}

.stanza-nav-button {
}

// ---------- POEM ----------

.poem-block {
    display: none;

    &.ready {
        display: block;
    }
}

.poem-sub-block {
    opacity: 0;
    transition: opacity 0.5s;

    &.active {
        opacity: 1;
    }
}

.poem-line {

}

.poem-author-text {
    font-size: 1.5rem;
}

.poem-highlight {

}
